{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block formactions %}
    <fieldset class="filter_legend">
        <legend class="active">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</legend>
        <div class=" active">
            <div>
                {% for key, filter in object.filters %}
                    <div class="clearfix">
                        <label>{{ key }}</label>
                        <input type="text" value="{{ filter.value }}" class="span8 sonata-filter-option" disabled />
                    </div>
                {% endfor %}
            </div>
        </div>
    </fieldset>
    {{ parent() }}
    {% if action == 'create' %}
    <script type="text/javascript">
        $('form').submit(function(e){
            $(this).attr('action', "{{ admin.generateUrl('createDynamicList', {'filter': app.request.query.get('filter')})|raw }}");
        });
    </script>
    {% endif %}
{% endblock %}
